bot:
  prefix: "?"
  token: ""
  autoload_cogs:
    - cogs.config
    - cogs.admin
    - cogs.players
    - cogs.server
    - cogs.silly
    - cogs.users
    - cogs.wiki

users_api:
  auth: ""
  url: ""
  roles:
    - role_id: 4
      name: "Head Admins / Devs"
      auths:
        - R_ADMIN
        - R_MOD
        - R_DEV
        - R_CCIAA
        - R_WIKI
    - role_id: 18
      name: "Primary Administrators"
      auths:
        - R_ADMIN
        - R_MOD
        - R_DEV
        - R_CCIAA
        - R_WIKI
    - role_id: 8
      name: "Secondary Administrators"
      auths:
        - R_ADMIN
        - R_MOD
        - R_DEV
        - R_CCIAA
        - R_WIKI
    - role_id: 6
      name: "Moderators"
      auths:
        - R_MOD
    - role_id: 9
      name: "Developers"
      auths:
        - R_DEV
    - role_id: 13
      name: "CCIA"
      auths:
        - R_CCIAA
    - role_id: 16
      name: "CCIA Leader"
      auths:
        - R_CCIAA
    - role_id: 15
      name: "Wiki Maintainers"
      auths:
        - R_WIKI

forum:
  auth: ""
  path: ""
  public_event_calendar: 1
  private_event_calendar: 2

server:
  host: ""
  port: 6666
  auth: ""

scheduler:
  interval: 60

github:
  api_token: null
  wiki_org: null
  wiki_repo: null
  wiki_label: null

sql:
  # The SQLAlchemy URL string for connecting to the bot's database.
  url: ""
  # The Game SQL server's connection string. May be left empty.
  game_url: ""
  # Timeout for the SQL servers: the connection is refreshed after this time.
  # Put to -1 to disable.
  # Default is 4 hours, as the default MySQL/MariaDB server timeout is 8 hours.
  connection_timeout: 14400
