bot:
  prefix: "?"
  token: ""
  subscriber_server: None
  subscriber_role: None
  autoload_cogs:
    - cogs.channel
    - cogs.discord
    - cogs.monitor
    - cogs.players
    - cogs.server
    - cogs.silly
    - cogs.users
    - cogs.git

api:
  auth: ""
  path: ""

server:
  host: ""
  port: 6666
  auth: ""

scheduler:
  interval: 60

monitor:
  host: ""
  port: 6666