APIAuth: ""
API: ""

prefix: "?"

token: ""

server_host: ""
server_port: 1234
server_auth: ""

scheduler_interval: 600

subscriber_server: null
subscriber_role: null

monitor_host: ""
monitor_port: 1124