aiohttp==2.2.5
async-timeout==2.0.1
chardet==3.0.4
https://github.com/Rapptz/discord.py/archive/eb5defed007bfb694808258a38277bff2fddcfd1.zip#egg=discord.py
gitdb2==2.0.3
GitPython==2.1.8
idna==2.6
multidict==4.1.0
PyGithub==1.37
PyJWT==1.6.1
PyYAML==3.12
smmap2==2.0.3
websockets==4.0.1
yarl==1.1.1
pyparsing
python-dateutil